// Define SCSS variables for light mode
$primary: #fffdfd;
$secondary: #000000;
$grey: rgb(195, 195, 195);

// Define SCSS variables for dark mode
$dark-primary: #000000;
$dark-secondary: #ffffff;

// Mixin for light mode
@mixin light-mode {
  background-color: $primary;
  color: $secondary;
}

// Mixin for dark mode
@mixin dark-mode {
  background-color: $dark-primary;
  color: $dark-secondary;
}

@mixin flex-align {
    display: flex;
    justify-content: center;
    align-items: center;
}