
// Define SCSS variables using HSL
$primary: hsl(0, 100%, 99%);
$secondary: hsl(0, 0%, 0%);
$grey: hsl(0, 0%, 76.5%);
$accent:rgb(25, 91, 233);

// Define SCSS variables for dark mode
$dark-primary: hsl(0, 0%, 12%);
$dark-secondary: hsl(0, 0%, 100%);

// Mixin for light mode
@mixin light-mode {
  background-color: $primary;
  color: $secondary;
}

// Mixin for dark mode
@mixin dark-mode {
  background-color: $dark-primary;
  color: $dark-secondary;
}

// Mixin for flexbox
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
