*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

@import './scss/variables';

body {
  @include light-mode;
}
.dark-mode {
  body {
    @include dark-mode;
  }
}

/* gradient animation */

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradientAnimation 20s linear infinite;
    background-size: 200% 200%;
  }

  .weatherContainer{
    @include flex;
    //height: 100vh;
  }

